name: Tests

on:
  push:
    branches:
      - '*'
  pull_request:
    branches:
      - '*'

jobs:
  test:
    strategy:
      # Default is true, cancels jobs for other platforms in the matrix if one fails
      fail-fast: false
      matrix:
        os: [ ubuntu-latest, macos-latest, windows-latest ]
        go: [ '1.22', '1.23', '1.24', '1.25' ]

        include:
        # Set the minimum Go patch version for the given Go minor
        - go: '1.22'
          GO_SEMVER: '~1.22.0'
        - go: '1.23'
          GO_SEMVER: '~1.23.0'
        - go: '1.24'
          GO_SEMVER: '~1.24.0'
        - go: '1.25'
          GO_SEMVER: '~1.25.0'

    runs-on: ${{ matrix.os }}

    permissions:
      contents: read
      pull-requests: read
      actions: write # to allow uploading artifacts and cache

    steps:
    - name: Harden the runner (Audit all outbound calls)
      uses: step-security/harden-runner@f4a75cfd619ee5ce8d5b864b0d183aff3c69b55a # v2.13.1
      with:
        egress-policy: audit

    - name: Checkout code
      uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

    - name: Install Go
      uses: actions/setup-go@3041bf56c941b39c61721a86cd11f3bb1338122ae # v5.2.0
      with:
        go-version: ${{ matrix.GO_SEMVER }}
        check-latest: true

    - name: Print Go version and environment
      id: vars
      shell: bash
      run: |
        printf "Using go at: $(which go)\n"
        printf "Go version: $(go version)\n"
        printf "\n\nGo environment:\n\n"
        go env
        printf "\n\nSystem environment:\n\n"
        env
        printf "Git version: $(git version)\n\n"
        # Calculate the short SHA1 hash of the git commit
        echo "short_sha=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT

    - name: Get dependencies
      run: |
        go get -v -t -d ./...

    - name: Run tests
      run: |
        go test -v -short -race ./...

    - name: Run xcaddy build test
      run: |
        go install github.com/caddyserver/xcaddy/cmd/xcaddy@latest
        export GOBIN=$HOME/go/bin
        if [ "$RUNNER_OS" = "macOS" ]; then
          ~/go/bin/xcaddy build --with .
        else
          ~/go/bin/xcaddy build --with github.com/jpillora/ipfilter-caddy
        fi